<!DOCTYPE html> 
<html><head> 
<meta charset="utf-8"> 
<meta name="viewport" content="width=device-width, initial-scale=1"> 
<title>详细页</title>
<link rel="stylesheet"  href="../style/css/jquery.mobile-1.0rc2.min.css" />  
<link rel="stylesheet" href="../style/css/jqm-docs.css"/> 
<link rel="stylesheet" href="../style/css/game.css"/> 
<script src="../style/js/jquery-1.6.4.min.js"></script> 
<script src="../style/js/jquery.mobile.themeswitcher.js"></script> 
<script src="../style/js/jqm-docs.js"></script> 
<script src="../style/js/jquery.mobile-1.0rc2.min.js"></script> 
</head> 
<body>
<div data-role="page">
	<!--Navigation-->
    <div data-role="header" data-position="fixed" data-theme="f" class="game_sbg"> 
        <div class="game_search"><input type="search" name="search3" id="searchA" value="" data-theme="a" /><button type="submit" data-theme="a" class="ui-btn-hidden" aria-disabled="false">搜索</button></div>
        <a href="../../" data-icon="home" data-iconpos="notext" data-direction="reverse" class="ui-btn-right jqm-home">首页</a> 
    </div> 
    
    
    
    <!--Content-->
    <div data-role="content" class="game_bd"> 
    	 <div class="hce_adv"><img src="../style/images/adv2.jpg"  height="170"></div>
    	 
         <div data-role="header" data-theme="d"> 
				<h1>植物大战僵尸</h1> 
			</div> 
			<div class="ui-body ui-body-d">
				<div class="introd">
                	 <h3>植物大战僵尸</h3> 
                	 <div class="pic"><img src="../style/images/game_i1.jpg"></div>
                     <ul>
                     	<li>名称：<em>植物大战僵尸</em>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;日期：2010-12-27</li>
                        <li>人气：<span class="rq"><i class="lever" style="width:80%"></i></span></li>
                        <li><span class="d_top">顶(<em><b>69</b></em>)</span>&nbsp;&nbsp;&nbsp;&nbsp;<span class="c_step">踩(<em><b>21</b></em>)</span></li>
                        <li><em>游戏介绍：</em>
《植物大战僵尸》是一款非常好玩的益智策略类游戏。目前新出的植物大战僵尸2中文版指的是植物大战僵尸年度版，增加了多个不同的僵尸和一些功能，这个需要下载才能玩，不同的玩法构成五种不同的游戏模式，加之夕阳、浓雾以及泳池之类的障碍增加了游戏挑战性。但是植物大战僵尸2小游戏是一个国内玩家开发的游戏，是动作类的女孩打僵尸小游戏。大家在玩游戏的过程中尽量不要使用植物大战僵尸修改器，实在玩不过去的玩家，就到上面的搜索里面去搜吧。</li>
						<li><a href="#" data-role="button" data-inline="true">收藏本游戏</a><a href="#" data-role="button" data-inline="true">下载游戏<em><b>（12.2M）</b></em></a><a href="#" data-role="button" data-inline="true">您上次看到了<em><b>XXXXX</b></em></a></li>

                        
                     </ul>
                </div>
			</div> 
 
    </div>
    
    <!--Footer-->
    <div data-role="footer" class="footer-docs" data-theme="a" data-position="fixed"> 
		 <h1>公司地址：上海徐汇区斜土路1238号，X2创意空间，6号楼&nbsp;&nbsp;&nbsp;&nbsp;电话：021-8936281&nbsp;&nbsp;&nbsp;&nbsp;邮箱：CMS@CMS4G.com</h1> 
	</div> 
</div>
</body>
</html>
