<!DOCTYPE html> 
<html> 
<head> 
<meta charset="utf-8"> 
<meta name="viewport" content="width=device-width, initial-scale=1"> 
<title>首页</title>
<link rel="stylesheet"  href="../style/css/jquery.mobile-1.0rc2.min.css" />  
<link rel="stylesheet" href="../style/css/jqm-docs.css"/> 
<link rel="stylesheet" href="../style/css/game.css"/> 
<script src="../style/js/jquery-1.6.4.min.js"></script> 
<script src="../style/js/jquery.mobile-1.0rc2.min.js"></script> 
</head> 
<body>
<div data-role="page">
	<!--Navigation-->
    <div data-role="header" data-position="fixed" data-theme="f" class="game_sbg"> 
        <div class="game_search"><input type="search" name="search3" id="searchA" value="" data-theme="a" /><button type="submit" data-theme="a" class="ui-btn-hidden" aria-disabled="false">搜索</button></div>
        <a href="../../" data-icon="home" data-iconpos="notext" data-direction="reverse" class="ui-btn-right jqm-home">首页</a> 
    </div> 

    <!--Content-->
    <div data-role="content" class="game_bd"> 
    	 <div class="hce_adv"><img src="../style/images/adv.jpg"  height="170"></div>
    	 <div data-role="collapsible-set" data-theme="c" data-content-theme="d">
			<div data-role="collapsible" data-collapsed="false"> 
				<h3>总排行</h3> 
				<div class="game_list">
                	 <span class="ui-btn-up-c ui-btn-corner-all game_more"><a href="list1.html">更多>></a></span>
                     <ul class="clearfix">
                        <li>
                            <div class="game_top">1.</div>
                            <div class="pic"><a href="content.html"><img src="../style/images/game1.jpg"></a></div>
                            <h4><a href="content.html"><span class="w">植物大战僵尸</span></a></a><br>人气：<span class="rq"><i class="lever" style="width:100%"></i></span><br>6313已收藏<br><a href="#">下载</a></h4>
                        </li>
                        <li>
                            <div class="game_top">2.</div>
                            <div class="pic"><a href="content.html"><img src="../style/images/game2.jpg"></a></div>
                            <h4><a href="content.html"><span class="w">愤怒的小鸟HD2.0</span></a><br>人气：<span class="rq"><i class="lever" style="width:90%"></i></span><br>6013已收藏<br><a href="#">下载</a></h4>
                        </li>
                        <li>
                            <div class="game_top">3.</div>
                            <div class="pic"><a href="content.html"><img src="../style/images/game3.jpg"></a></div>
                            <h4><a href="content.html"><span class="w">森林冰火人2中文无敌</span></a><br>人气：<span class="rq"><i class="lever" style="width:80%"></i></span><br>5313已收藏<br><a href="#">下载</a></h4>
                        </li>
                        <li>
                            <div class="game_top">4.</div>
                            <div class="pic"><a href="content.html"><img src="../style/images/game4.jpg"></a></div>
                            <h4><a href="content.html"><span class="w">Q版泡泡堂4</span></a><br>人气：<span class="rq"><i class="lever" style="width:75%"></i></span><br>3808已收藏<br><a href="#">下载</a></h4>
                        </li>
                        <li>
                            <div class="game_top">5.</div>
                            <div class="pic"><a href="content.html"><img src="../style/images/game5.jpg"></a></div>
                            <h4><a href="content.html"><span class="w">运货小火车</span></a><br>人气：<span class="rq"><i class="lever" style="width:70%"></i></span><br>6313已收藏<br><a href="#">下载</a></h4>
                        </li>
                        <li>
                            <div class="game_top">6.</div>
                            <div class="pic"><a href="content.html"><img src="../style/images/game10.jpg"></a></div>
                            <h4><a href="content.html"><span class="w">植物大战僵尸</span></a><br>人气：<span class="rq"><i class="lever" style="width:60%"></i></span><br>6313已收藏<br><a href="#">下载</a></h4>
                        </li>
                        <li>
                            <div class="game_top">7.</div>
                            <div class="pic"><a href="content.html"><img src="../style/images/game11.jpg"></a></div>
                            <h4><a href="content.html"><span class="w">愤怒的小鸟HD2.0</span></a><br>人气：<span class="rq"><i class="lever" style="width:50%"></i></span><br>6013已收藏<br><a href="#">下载</a></h4>
                        </li>
                        <li>
                            <div class="game_top">8.</div>
                            <div class="pic"><a href="content.html"><img src="../style/images/game13.jpg"></a></div>
                            <h4><a href="content.html"><span class="w">森林冰火人2中文无敌</span></a><br>人气：<span class="rq"><i class="lever" style="width:40%"></i></span><br>5313已收藏<br><a href="#">下载</a></h4>
                        </li>
                        <li>
                            <div class="game_top">9.</div>
                            <div class="pic"><a href="content.html"><img src="../style/images/game14.jpg"></a></div>
                            <h4><a href="content.html"><span class="w">Q版泡泡堂4</span></a><br>人气：<span class="rq"><i class="lever" style="width:35%"></i></span><br>3808已收藏<br><a href="#">下载</a></h4>
                        </li>
                        <li>
                            <div class="game_top">10.</div>
                            <div class="pic"><a href="content.html"><img src="../style/images/game15.jpg"></a></div>
                            <h4><a href="content.html"><span class="w">运货小火车</span></a><br>人气：<span class="rq"><i class="lever" style="width:30%"></i></span><br>6313已收藏<br><a href="#">下载</a></h4>
                        </li>
                        <li>
                            <div class="game_top">11.</div>
                            <div class="pic"><a href="content.html"><img src="../style/images/game16.jpg"></a></div>
                            <h4><a href="content.html"><span class="w">植物大战僵尸</span></a><br>人气：<span class="rq"><i class="lever" style="width:20%"></i></span><br>6313已收藏<br><a href="#">下载</a></h4>
                        </li>
                        <li>
                            <div class="game_top">12.</div>
                            <div class="pic"><a href="content.html"><img src="../style/images/game17.jpg"></a></div>
                            <h4><a href="content.html"><span class="w">愤怒的小鸟HD2.0</span></a><br>人气：<span class="rq"><i class="lever" style="width:10%"></i></span><br>6013已收藏<br><a href="#">下载</a></h4>
                        </li>
                     </ul>
                </div> 
			</div> 
			<div data-role="collapsible"> 
				<h3>热门小游戏</h3> 
				<div class="game_list">
                	 <span class="ui-btn-up-c ui-btn-corner-all game_more"><a href="list2.html">更多>></a></span>
                     <ul class="clearfix">
                        <li>
                            <div class="game_top">&nbsp;</div>
                            <div class="pic"><img src="../style/images/game6.jpg"><span>new</span></div>
                            <h4><span class="w">植物大战僵尸</span><br>人气：<span class="rq"><i class="lever" style="width:100%"></i></span><br>6313已收藏<br><a href="#">下载</a></h4>
                        </li>
                        <li>
                            <div class="game_top">&nbsp;</div>
                            <div class="pic"><img src="../style/images/game7.jpg"><span>new</span></div>
                            <h4><span class="w">愤怒的小鸟HD2.0</span><br>人气：<span class="rq"><i class="lever" style="width:90%"></i></span><br>6013已收藏<br><a href="#">下载</a></h4>
                        </li>
                        <li>
                            <div class="game_top">&nbsp;</div>
                            <div class="pic"><img src="../style/images/game8.jpg"></div>
                            <h4><span class="w">森林冰火人2中文无敌</span><br>人气：<span class="rq"><i class="lever" style="width:80%"></i></span><br>5313已收藏<br><a href="#">下载</a></h4>
                        </li>
                        <li>
                            <div class="game_top">&nbsp;</div>
                            <div class="pic"><img src="../style/images/game9.jpg"></div>
                            <h4><span class="w">Q版泡泡堂4</span><br>人气：<span class="rq"><i class="lever" style="width:75%"></i></span><br>3808已收藏<br><a href="#">下载</a></h4>
                        </li>
                        <li>
                            <div class="game_top">&nbsp;</div>
                            <div class="pic"><img src="../style/images/game17.jpg"><span>new</span></div>
                            <h4><span class="w">运货小火车</span><br>人气：<span class="rq"><i class="lever" style="width:70%"></i></span><br>6313已收藏<br><a href="#">下载</a></h4>
                        </li>
                        <li>
                            <div class="game_top">&nbsp;</div>
                            <div class="pic"><img src="../style/images/game13.jpg"></div>
                            <h4><span class="w">植物大战僵尸</span><br>人气：<span class="rq"><i class="lever" style="width:60%"></i></span><br>6313已收藏<br><a href="#">下载</a></h4>
                        </li>
                        <li>
                            <div class="game_top">&nbsp;</div>
                            <div class="pic"><img src="../style/images/game2.jpg"></div>
                            <h4><span class="w">愤怒的小鸟HD2.0</span><br>人气：<span class="rq"><i class="lever" style="width:50%"></i></span><br>6013已收藏<br><a href="#">下载</a></h4>
                        </li>
                        <li>
                            <div class="game_top">&nbsp;</div>
                            <div class="pic"><img src="../style/images/game3.jpg"><span>new</span></div>
                            <h4><span class="w">森林冰火人2中文无敌</span><br>人气：<span class="rq"><i class="lever" style="width:40%"></i></span><br>5313已收藏<br><a href="#">下载</a></h4>
                        </li>
                        <li>
                            <div class="game_top">&nbsp;</div>
                            <div class="pic"><img src="../style/images/game4.jpg"></div>
                            <h4><span class="w">Q版泡泡堂4</span><br>人气：<span class="rq"><i class="lever" style="width:35%"></i></span><br>3808已收藏<br><a href="#">下载</a></h4>
                        </li>
                        <li>
                            <div class="game_top">&nbsp;</div>
                            <div class="pic"><img src="../style/images/game8.jpg"><span>new</span></div>
                            <h4><span class="w">运货小火车</span><br>人气：<span class="rq"><i class="lever" style="width:30%"></i></span><br>6313已收藏<br><a href="#">下载</a></h4>
                        </li>
                        <li>
                            <div class="game_top">&nbsp;</div>

                            <div class="pic"><img src="../style/images/game1.jpg"><span>new</span></div>
                            <h4><span class="w">植物大战僵尸</span><br>人气：<span class="rq"><i class="lever" style="width:20%"></i></span><br>6313已收藏<br><a href="#">下载</a></h4>
                        </li>
                        <li>
                            <div class="game_top">&nbsp;</div>
                            <div class="pic"><img src="../style/images/game3.jpg"></div>
                            <h4><span class="w">愤怒的小鸟HD2.0</span><br>人气：<span class="rq"><i class="lever" style="width:10%"></i></span><br>6013已收藏<br><a href="#">下载</a></h4>
                        </li>
                     </ul>
                </div>
			</div> 
			<div data-role="collapsible"> 
				<h3>推荐小游戏</h3> 
				<div class="game_list">
                	 <span class="ui-btn-up-c ui-btn-corner-all game_more"><a href="list3.html">更多>></a></span>
                     <ul class="clearfix">
                        <li>
                            <div class="game_top">&nbsp;</div>
                            <div class="pic"><img src="../style/images/game6.jpg"></div>
                            <h4><span class="w">植物大战僵尸</span><br>人气：<span class="rq"><i class="lever" style="width:100%"></i></span><br>6313已收藏<br><a href="#">下载</a></h4>
                        </li>
                        <li>
                            <div class="game_top">&nbsp;</div>
                            <div class="pic"><img src="../style/images/game7.jpg"></div>
                            <h4><span class="w">愤怒的小鸟HD2.0</span><br>人气：<span class="rq"><i class="lever" style="width:90%"></i></span><br>6013已收藏<br><a href="#">下载</a></h4>
                        </li>
                        <li>
                            <div class="game_top">&nbsp;</div>
                            <div class="pic"><img src="../style/images/game8.jpg"></div>
                            <h4><span class="w">森林冰火人2中文无敌</span><br>人气：<span class="rq"><i class="lever" style="width:80%"></i></span><br>5313已收藏<br><a href="#">下载</a></h4>
                        </li>
                        <li>
                            <div class="game_top">&nbsp;</div>
                            <div class="pic"><img src="../style/images/game9.jpg"></div>
                            <h4><span class="w">Q版泡泡堂4</span><br>人气：<span class="rq"><i class="lever" style="width:75%"></i></span><br>3808已收藏<br><a href="#">下载</a></h4>
                        </li>
                        <li>
                            <div class="game_top">&nbsp;</div>
                            <div class="pic"><img src="../style/images/game14.jpg"></div>
                            <h4><span class="w">运货小火车</span><br>人气：<span class="rq"><i class="lever" style="width:70%"></i></span><br>6313已收藏<br><a href="#">下载</a></h4>
                        </li>
                        <li>
                            <div class="game_top">&nbsp;</div>
                            <div class="pic"><img src="../style/images/game12.jpg"></div>
                            <h4><span class="w">植物大战僵尸</span><br>人气：<span class="rq"><i class="lever" style="width:60%"></i></span><br>6313已收藏<br><a href="#">下载</a></h4>
                        </li>
                        <li>
                            <div class="game_top">&nbsp;</div>
                            <div class="pic"><img src="../style/images/game2.jpg"></div>
                            <h4><span class="w">愤怒的小鸟HD2.0</span><br>人气：<span class="rq"><i class="lever" style="width:50%"></i></span><br>6013已收藏<br><a href="#">下载</a></h4>
                        </li>
                        <li>
                            <div class="game_top">&nbsp;</div>
                            <div class="pic"><img src="../style/images/game3.jpg"></div>
                            <h4><span class="w">森林冰火人2中文无敌</span><br>人气：<span class="rq"><i class="lever" style="width:40%"></i></span><br>5313已收藏<br><a href="#">下载</a></h4>
                        </li>
                        <li>
                            <div class="game_top">&nbsp;</div>
                            <div class="pic"><img src="../style/images/game4.jpg"></div>
                            <h4><span class="w">Q版泡泡堂4</span><br>人气：<span class="rq"><i class="lever" style="width:35%"></i></span><br>3808已收藏<br><a href="#">下载</a></h4>
                        </li>
                        <li>
                            <div class="game_top">&nbsp;</div>
                            <div class="pic"><img src="../style/images/game7.jpg"></div>
                            <h4><span class="w">运货小火车</span><br>人气：<span class="rq"><i class="lever" style="width:30%"></i></span><br>6313已收藏<br><a href="#">下载</a></h4>
                        </li>
                        <li>
                            <div class="game_top">&nbsp;</div>

                            <div class="pic"><img src="../style/images/game1.jpg"></div>
                            <h4><span class="w">植物大战僵尸</span><br>人气：<span class="rq"><i class="lever" style="width:20%"></i></span><br>6313已收藏<br><a href="#">下载</a></h4>
                        </li>
                        <li>
                            <div class="game_top">&nbsp;</div>
                            <div class="pic"><img src="../style/images/game15.jpg"></div>
                            <h4><span class="w">愤怒的小鸟HD2.0</span><br>人气：<span class="rq"><i class="lever" style="width:10%"></i></span><br>6013已收藏<br><a href="#">下载</a></h4>
                        </li>
                     </ul>
                </div> 
 
			</div> 
			<div data-role="collapsible"> 
				<h3>最新小游戏</h3> 
				<div class="game_list">
                	 <span class="ui-btn-up-c ui-btn-corner-all game_more"><a href="list4.html">更多>></a></span>
                     <ul class="clearfix">
                        <li>
                            <div class="game_top">&nbsp;</div>
                            <div class="pic ico2"><img src="../style/images/game18.jpg"><span>new</span></div>
                            <h4><span class="w">植物大战僵尸</span><br>人气：<span class="rq"><i class="lever" style="width:100%"></i></span><br>6313已收藏<br><a href="#">下载</a></h4>
                        </li>
                        <li>
                            <div class="game_top">&nbsp;</div>
                            <div class="pic ico2"><img src="../style/images/game17.jpg"><span>new</span></div>
                            <h4><span class="w">愤怒的小鸟HD2.0</span><br>人气：<span class="rq"><i class="lever" style="width:90%"></i></span><br>6013已收藏<br><a href="#">下载</a></h4>
                        </li>
                        <li>
                            <div class="game_top">&nbsp;</div>
                            <div class="pic"><img src="../style/images/game1.jpg"></div>
                            <h4><span class="w">森林冰火人2中文无敌</span><br>人气：<span class="rq"><i class="lever" style="width:80%"></i></span><br>5313已收藏<br><a href="#">下载</a></h4>
                        </li>
                        <li>
                            <div class="game_top">&nbsp;</div>
                            <div class="pic ico2"><img src="../style/images/game6.jpg"><span>new</span></div>
                            <h4><span class="w">Q版泡泡堂4</span><br>人气：<span class="rq"><i class="lever" style="width:75%"></i></span><br>3808已收藏<br><a href="#">下载</a></h4>
                        </li>
                        <li>
                            <div class="game_top">&nbsp;</div>
                            <div class="pic ico2"><img src="../style/images/game13.jpg"><span>new</span></div>
                            <h4><span class="w">运货小火车</span><br>人气：<span class="rq"><i class="lever" style="width:70%"></i></span><br>6313已收藏<br><a href="#">下载</a></h4>
                        </li>
                        <li>
                            <div class="game_top">&nbsp;</div>
                            <div class="pic"><img src="../style/images/game10.jpg"></div>
                            <h4><span class="w">植物大战僵尸</span><br>人气：<span class="rq"><i class="lever" style="width:60%"></i></span><br>6313已收藏<br><a href="#">下载</a></h4>
                        </li>
                        <li>
                            <div class="game_top">&nbsp;</div>
                            <div class="pic"><img src="../style/images/game7.jpg"></div>
                            <h4><span class="w">愤怒的小鸟HD2.0</span><br>人气：<span class="rq"><i class="lever" style="width:50%"></i></span><br>6013已收藏<br><a href="#">下载</a></h4>
                        </li>
                        <li>
                            <div class="game_top">&nbsp;</div>
                            <div class="pic ico2"><img src="../style/images/game16.jpg"><span>new</span></div>
                            <h4><span class="w">森林冰火人2中文无敌</span><br>人气：<span class="rq"><i class="lever" style="width:40%"></i></span><br>5313已收藏<br><a href="#">下载</a></h4>
                        </li>
                        <li>
                            <div class="game_top">&nbsp;</div>
                            <div class="pic ico2"><img src="../style/images/game18.jpg"><span>new</span></div>
                            <h4><span class="w">Q版泡泡堂4</span><br>人气：<span class="rq"><i class="lever" style="width:35%"></i></span><br>3808已收藏<br><a href="#">下载</a></h4>
                        </li>
                        <li>
                            <div class="game_top">&nbsp;</div>
                            <div class="pic ico2"><img src="../style/images/game11.jpg"><span>new</span></div>
                            <h4><span class="w">运货小火车</span><br>人气：<span class="rq"><i class="lever" style="width:30%"></i></span><br>6313已收藏<br><a href="#">下载</a></h4>
                        </li>
                        <li>
                            <div class="game_top">&nbsp;</div>

                            <div class="pic ico2"><img src="../style/images/game4.jpg"><span>new</span></div>
                            <h4><span class="w">植物大战僵尸</span><br>人气：<span class="rq"><i class="lever" style="width:20%"></i></span><br>6313已收藏<br><a href="#">下载</a></h4>
                        </li>
                        <li>
                            <div class="game_top">&nbsp;</div>
                            <div class="pic"><img src="../style/images/game13.jpg"></div>
                            <h4><span class="w">愤怒的小鸟HD2.0</span><br>人气：<span class="rq"><i class="lever" style="width:10%"></i></span><br>6013已收藏<br><a href="#">下载</a></h4>
                        </li>
                     </ul>
                </div>
 
			</div> 
			<div data-role="collapsible"> 
				<h3>女生游戏专区</h3> 
				<div class="game_list">
                	 <span class="ui-btn-up-c ui-btn-corner-all game_more"><a href="list5.html">更多>></a></span>
                     <ul class="clearfix">
                        <li>
                            <div class="game_top">&nbsp;</div>
                            <div class="pic"><img src="../style/images/game19.jpg"></div>
                            <h4><span class="w">植物大战僵尸</span><br>人气：<span class="rq"><i class="lever" style="width:100%"></i></span><br>6313已收藏<br><a href="#">下载</a></h4>
                        </li>
                        <li>
                            <div class="game_top">&nbsp;</div>
                            <div class="pic"><img src="../style/images/game20.jpg"></div>
                            <h4><span class="w">愤怒的小鸟HD2.0</span><br>人气：<span class="rq"><i class="lever" style="width:90%"></i></span><br>6013已收藏<br><a href="#">下载</a></h4>
                        </li>
                        <li>
                            <div class="game_top">&nbsp;</div>
                            <div class="pic"><img src="../style/images/game21.jpg"></div>
                            <h4><span class="w">森林冰火人2中文无敌</span><br>人气：<span class="rq"><i class="lever" style="width:80%"></i></span><br>5313已收藏<br><a href="#">下载</a></h4>
                        </li>
                        <li>
                            <div class="game_top">&nbsp;</div>
                            <div class="pic"><img src="../style/images/game22.jpg"></div>
                            <h4><span class="w">Q版泡泡堂4</span><br>人气：<span class="rq"><i class="lever" style="width:75%"></i></span><br>3808已收藏<br><a href="#">下载</a></h4>
                        </li>
                        <li>
                            <div class="game_top">&nbsp;</div>
                            <div class="pic"><img src="../style/images/game23.jpg"></div>
                            <h4><span class="w">运货小火车</span><br>人气：<span class="rq"><i class="lever" style="width:70%"></i></span><br>6313已收藏<br><a href="#">下载</a></h4>
                        </li>
                        <li>
                            <div class="game_top">&nbsp;</div>
                            <div class="pic"><img src="../style/images/game24.jpg"></div>
                            <h4><span class="w">植物大战僵尸</span><br>人气：<span class="rq"><i class="lever" style="width:60%"></i></span><br>6313已收藏<br><a href="#">下载</a></h4>
                        </li>
                        <li>
                            <div class="game_top">&nbsp;</div>
                            <div class="pic"><img src="../style/images/game25.jpg"></div>
                            <h4><span class="w">愤怒的小鸟HD2.0</span><br>人气：<span class="rq"><i class="lever" style="width:50%"></i></span><br>6013已收藏<br><a href="#">下载</a></h4>
                        </li>
                        <li>
                            <div class="game_top">&nbsp;</div>
                            <div class="pic"><img src="../style/images/game26.jpg"></div>
                            <h4><span class="w">森林冰火人2中文无敌</span><br>人气：<span class="rq"><i class="lever" style="width:40%"></i></span><br>5313已收藏<br><a href="#">下载</a></h4>
                        </li>
                        <li>
                            <div class="game_top">&nbsp;</div>
                            <div class="pic"><img src="../style/images/game27.jpg"></div>
                            <h4><span class="w">Q版泡泡堂4</span><br>人气：<span class="rq"><i class="lever" style="width:35%"></i></span><br>3808已收藏<br><a href="#">下载</a></h4>
                        </li>
                        <li>
                            <div class="game_top">&nbsp;</div>
                            <div class="pic"><img src="../style/images/game28.jpg"></div>
                            <h4><span class="w">运货小火车</span><br>人气：<span class="rq"><i class="lever" style="width:30%"></i></span><br>6313已收藏<br><a href="#">下载</a></h4>
                        </li>
                        <li>
                            <div class="game_top">&nbsp;</div>

                            <div class="pic"><img src="../style/images/game29.jpg"></div>
                            <h4><span class="w">植物大战僵尸</span><br>人气：<span class="rq"><i class="lever" style="width:20%"></i></span><br>6313已收藏<br><a href="#">下载</a></h4>
                        </li>
                        <li>
                            <div class="game_top">&nbsp;</div>
                            <div class="pic"><img src="../style/images/game30.jpg"></div>
                            <h4><span class="w">愤怒的小鸟HD2.0</span><br>人气：<span class="rq"><i class="lever" style="width:10%"></i></span><br>6013已收藏<br><a href="#">下载</a></h4>
                        </li>
                     </ul>
                </div> 
 
			</div> 
		</div> 
 		 
         <div class="ui-corner-bottom ui-corner-top ui-btn-up-c game_bft">
         	  小游戏：<em>健康游戏忠告：抵制不良游戏，拒绝盗版游戏 注意自我保护，谨防受骗上当
适度游戏益脑，沉迷游戏伤身 合理安排时间，享受健康生活</em><br><span><a href="#">赛尔号</a>|<a href="#">摩尔庄园</a>|<a href="#">快乐童年</a>|<a href="#">赛尔号融合精灵大全</a>|<a href="#">洛克王国宠物大全</a>|<a href="#">斗龙战士</a>|<a href="#">做饭小游戏</a>|<a href="#">奥特曼兄弟</a>|<a href="#">单机游戏下载</a>|<a href="#">手机游戏</a>|<a href="#">手机铃声</a>|<a href="#">手机主题</a>|<a href="#">愤怒的小鸟中文版下载</a>|<a href="#">赛尔号夜间版</a>|<a href="#">赛尔号攻略</a>|<a href="#">梦幻修仙</a>|<a href="#">凡人修真</a>|<a href="#">英雄远征</a>|<a href="#">御剑江湖</a>|<a href="#">洪荒神话</a>|<a href="#">傲视千雄</a>|<a href="#">神魔遮天</a>|<a href="#">明朝传奇</a>|<a href="#">九天仙梦</a>|<a href="#">江湖令</a>|<a href="#">赛尔号最新</a>|<a href="#">摩尔勇士最新</a>|<a href="#">奥比岛最新</a>|<a href="#">功夫派最新</a>|<a href="#">洛克王国最新</a>|<a href="#">奥拉星最新</a>|<a href="#">植物大战僵尸秘籍</a>|<a href="#">摩尔勇士精灵大全</a>|<a href="#">好看的动漫</a>|<a href="#">三国杀</a></span>
         </div>
    </div>
    
    <!--Footer-->
    <div data-role="footer" class="footer-docs" data-theme="a" data-position="fixed"> 
		 <h1>公司地址：上海徐汇区斜土路1238号，X2创意空间，6号楼&nbsp;&nbsp;&nbsp;&nbsp;电话：021-8936281&nbsp;&nbsp;&nbsp;&nbsp;邮箱：CMS@CMS4G.com</h1> 
	</div> 
</div>
</body>
</html>
