<!DOCTYPE html> 
<html> 
<head> 
<meta charset="utf-8"> 
<meta name="viewport" content="width=device-width, initial-scale=1"> 
<title>列表页-女生游戏专区</title>
<link rel="stylesheet"  href="../style/css/jquery.mobile-1.0rc2.min.css" />  
<link rel="stylesheet" href="../style/css/jqm-docs.css"/> 
<link rel="stylesheet" href="../style/css/game.css"/> 
<script src="../style/js/jquery-1.6.4.min.js"></script> 
<script src="../style/js/jquery.mobile-1.0rc2.min.js"></script> 
</head> 
<body>
<div data-role="page">
	<!--Navigation-->
    <div data-role="header" data-position="fixed" data-theme="f" class="game_sbg"> 
        <div class="game_search"><input type="search" name="search3" id="searchA" value="" data-theme="a" /><button type="submit" data-theme="a" class="ui-btn-hidden" aria-disabled="false">搜索</button></div>
        <a href="../../" data-icon="home" data-iconpos="notext" data-direction="reverse" class="ui-btn-right jqm-home">首页</a> 
    </div> 

    <!--Content-->
    <div data-role="content" class="game_bd"> 
    	 <div class="hce_adv"><img src="../style/images/adv.jpg"  height="170"></div>
    	 <div data-role="collapsible-set" data-theme="c" data-content-theme="d">
			<div data-role="collapsible" data-collapsed="false"> 
				<h3>女生游戏专区</h3> 
				<div class="game_list">
                     <ul class="clearfix">
                        <li>
                            <div class="game_top">1.</div>
                            <div class="pic"><a href="content.html"><img src="../style/images/game1.jpg"></a></div>
                            <h4><a href="content.html"><span class="w">植物大战僵尸</span></a></a><br>人气：<span class="rq"><i class="lever" style="width:100%"></i></span><br>6313已收藏<br><a href="#">下载</a></h4>
                        </li>
                        <li>
                            <div class="game_top">2.</div>
                            <div class="pic"><a href="content.html"><img src="../style/images/game2.jpg"></a></div>
                            <h4><a href="content.html"><span class="w">愤怒的小鸟HD2.0</span></a><br>人气：<span class="rq"><i class="lever" style="width:90%"></i></span><br>6013已收藏<br><a href="#">下载</a></h4>
                        </li>
                        <li>
                            <div class="game_top">3.</div>
                            <div class="pic"><a href="content.html"><img src="../style/images/game3.jpg"></a></div>
                            <h4><a href="content.html"><span class="w">森林冰火人2中文无敌</span></a><br>人气：<span class="rq"><i class="lever" style="width:80%"></i></span><br>5313已收藏<br><a href="#">下载</a></h4>
                        </li>
                        <li>
                            <div class="game_top">4.</div>
                            <div class="pic"><a href="content.html"><img src="../style/images/game4.jpg"></a></div>
                            <h4><a href="content.html"><span class="w">Q版泡泡堂4</span></a><br>人气：<span class="rq"><i class="lever" style="width:75%"></i></span><br>3808已收藏<br><a href="#">下载</a></h4>
                        </li>
                        <li>
                            <div class="game_top">5.</div>
                            <div class="pic"><a href="content.html"><img src="../style/images/game5.jpg"></a></div>
                            <h4><a href="content.html"><span class="w">运货小火车</span></a><br>人气：<span class="rq"><i class="lever" style="width:70%"></i></span><br>6313已收藏<br><a href="#">下载</a></h4>
                        </li>
                        <li>
                            <div class="game_top">6.</div>
                            <div class="pic"><a href="content.html"><img src="../style/images/game10.jpg"></a></div>
                            <h4><a href="content.html"><span class="w">植物大战僵尸</span></a><br>人气：<span class="rq"><i class="lever" style="width:60%"></i></span><br>6313已收藏<br><a href="#">下载</a></h4>
                        </li>
                        <li>
                            <div class="game_top">7.</div>
                            <div class="pic"><a href="content.html"><img src="../style/images/game11.jpg"></a></div>
                            <h4><a href="content.html"><span class="w">愤怒的小鸟HD2.0</span></a><br>人气：<span class="rq"><i class="lever" style="width:50%"></i></span><br>6013已收藏<br><a href="#">下载</a></h4>
                        </li>
                        <li>
                            <div class="game_top">8.</div>
                            <div class="pic"><a href="content.html"><img src="../style/images/game13.jpg"></a></div>
                            <h4><a href="content.html"><span class="w">森林冰火人2中文无敌</span></a><br>人气：<span class="rq"><i class="lever" style="width:40%"></i></span><br>5313已收藏<br><a href="#">下载</a></h4>
                        </li>
                        <li>
                            <div class="game_top">9.</div>
                            <div class="pic"><a href="content.html"><img src="../style/images/game14.jpg"></a></div>
                            <h4><a href="content.html"><span class="w">Q版泡泡堂4</span></a><br>人气：<span class="rq"><i class="lever" style="width:35%"></i></span><br>3808已收藏<br><a href="#">下载</a></h4>
                        </li>
                        <li>
                            <div class="game_top">10.</div>
                            <div class="pic"><a href="content.html"><img src="../style/images/game15.jpg"></a></div>
                            <h4><a href="content.html"><span class="w">运货小火车</span></a><br>人气：<span class="rq"><i class="lever" style="width:30%"></i></span><br>6313已收藏<br><a href="#">下载</a></h4>
                        </li>
                        <li>
                            <div class="game_top">11.</div>
                            <div class="pic"><a href="content.html"><img src="../style/images/game16.jpg"></a></div>
                            <h4><a href="content.html"><span class="w">植物大战僵尸</span></a><br>人气：<span class="rq"><i class="lever" style="width:20%"></i></span><br>6313已收藏<br><a href="#">下载</a></h4>
                        </li>
                        <li>
                            <div class="game_top">12.</div>
                            <div class="pic"><a href="content.html"><img src="../style/images/game17.jpg"></a></div>
                            <h4><a href="content.html"><span class="w">愤怒的小鸟HD2.0</span></a><br>人气：<span class="rq"><i class="lever" style="width:10%"></i></span><br>6013已收藏<br><a href="#">下载</a></h4>
                        </li>
						<li>
                            <div class="game_top">13.</div>
                            <div class="pic"><a href="content.html"><img src="../style/images/game1.jpg"></a></div>
                            <h4><a href="content.html"><span class="w">植物大战僵尸</span></a></a><br>人气：<span class="rq"><i class="lever" style="width:100%"></i></span><br>6313已收藏<br><a href="#">下载</a></h4>
                        </li>
						<li>
                            <div class="game_top">14.</div>
                            <div class="pic"><a href="content.html"><img src="../style/images/game3.jpg"></a></div>
                            <h4><a href="content.html"><span class="w">森林冰火人2中文无敌</span></a><br>人气：<span class="rq"><i class="lever" style="width:80%"></i></span><br>5313已收藏<br><a href="#">下载</a></h4>
                        </li>
                        <li>
                            <div class="game_top">15.</div>
                            <div class="pic"><a href="content.html"><img src="../style/images/game2.jpg"></a></div>
                            <h4><a href="content.html"><span class="w">愤怒的小鸟HD2.0</span></a><br>人气：<span class="rq"><i class="lever" style="width:90%"></i></span><br>6013已收藏<br><a href="#">下载</a></h4>
                        </li>
                        <li>
                            <div class="game_top">16.</div>
                            <div class="pic"><a href="content.html"><img src="../style/images/game4.jpg"></a></div>
                            <h4><a href="content.html"><span class="w">Q版泡泡堂4</span></a><br>人气：<span class="rq"><i class="lever" style="width:75%"></i></span><br>3808已收藏<br><a href="#">下载</a></h4>
                        </li>
                        <li>
                            <div class="game_top">17.</div>
                            <div class="pic"><a href="content.html"><img src="../style/images/game5.jpg"></a></div>
                            <h4><a href="content.html"><span class="w">运货小火车</span></a><br>人气：<span class="rq"><i class="lever" style="width:70%"></i></span><br>6313已收藏<br><a href="#">下载</a></h4>
                        </li>
                        <li>
                            <div class="game_top">18.</div>
                            <div class="pic"><a href="content.html"><img src="../style/images/game10.jpg"></a></div>
                            <h4><a href="content.html"><span class="w">植物大战僵尸</span></a><br>人气：<span class="rq"><i class="lever" style="width:60%"></i></span><br>6313已收藏<br><a href="#">下载</a></h4>
                        </li>
                        <li>
                            <div class="game_top">19.</div>
                            <div class="pic"><a href="content.html"><img src="../style/images/game11.jpg"></a></div>
                            <h4><a href="content.html"><span class="w">愤怒的小鸟HD2.0</span></a><br>人气：<span class="rq"><i class="lever" style="width:50%"></i></span><br>6013已收藏<br><a href="#">下载</a></h4>
                        </li>
                        <li>
                            <div class="game_top">20.</div>
                            <div class="pic"><a href="content.html"><img src="../style/images/game13.jpg"></a></div>
                            <h4><a href="content.html"><span class="w">森林冰火人2中文无敌</span></a><br>人气：<span class="rq"><i class="lever" style="width:40%"></i></span><br>5313已收藏<br><a href="#">下载</a></h4>
                        </li>
                        <li>
                            <div class="game_top">21.</div>
                            <div class="pic"><a href="content.html"><img src="../style/images/game14.jpg"></a></div>
                            <h4><a href="content.html"><span class="w">Q版泡泡堂4</span></a><br>人气：<span class="rq"><i class="lever" style="width:35%"></i></span><br>3808已收藏<br><a href="#">下载</a></h4>
                        </li>
                        <li>
                            <div class="game_top">22.</div>
                            <div class="pic"><a href="content.html"><img src="../style/images/game15.jpg"></a></div>
                            <h4><a href="content.html"><span class="w">运货小火车</span></a><br>人气：<span class="rq"><i class="lever" style="width:30%"></i></span><br>6313已收藏<br><a href="#">下载</a></h4>
                        </li>
                        <li>
                            <div class="game_top">23.</div>
                            <div class="pic"><a href="content.html"><img src="../style/images/game16.jpg"></a></div>
                            <h4><a href="content.html"><span class="w">植物大战僵尸</span></a><br>人气：<span class="rq"><i class="lever" style="width:20%"></i></span><br>6313已收藏<br><a href="#">下载</a></h4>
                        </li>
                        <li>
                            <div class="game_top">24.</div>
                            <div class="pic"><a href="content.html"><img src="../style/images/game17.jpg"></a></div>
                            <h4><a href="content.html"><span class="w">愤怒的小鸟HD2.0</span></a><br>人气：<span class="rq"><i class="lever" style="width:10%"></i></span><br>6013已收藏<br><a href="#">下载</a></h4>
                        </li>
                     </ul>
                </div> 
			</div>
		</div>
    </div>
    
    <!--Footer-->
    <div data-role="footer" class="footer-docs" data-theme="a" data-position="fixed"> 
		 <h1>公司地址：上海徐汇区斜土路1238号，X2创意空间，6号楼&nbsp;&nbsp;&nbsp;&nbsp;电话：021-8936281&nbsp;&nbsp;&nbsp;&nbsp;邮箱：CMS@CMS4G.com</h1> 
	</div> 
</div>
</body>
</html>
