<!DOCTYPE html> 
<html> 
<head> 
<meta charset="utf-8"> 
<meta name="viewport" content="width=device-width, initial-scale=1"> 
<title>小说首页</title>
<link rel="stylesheet"  href="../style/css/jquery.mobile-1.0rc2.min.css" />  
<link rel="stylesheet" href="../style/css/jqm-docs.css"/> 
<link rel="stylesheet" href="../style/css/add.css"/> 
<script src="../style/js/jquery-1.6.4.min.js"></script> 
<script src="../style/js/jquery.mobile-1.0rc2.min.js"></script> 
</head> 
<body>
<!--Navigation-->
<div data-role="header" data-position="fixed" data-theme="f">
    <div data-theme="a" class="ui-bar ui-grid-c ui-bar-a" style="background:transparent;border:none;">
          <div class="box_fr">
               <div class="ui-block-b"><label for="value" style="margin:.3em 0 0 0 ; text-align:right;" class="ui-input-text">搜索：</label> </div>
               <div class="ui-block-c">
   
    <input type="text" data-type="search" name="search2" id="search" value="" class="ui-input-text ui-body-c">
</div>	 
               <div class="ui-block-d"><div style="margin:2px 0 0 10px;"><button type="submit" data-theme="b" class="ui-btn-hidden" aria-disabled="false" onClick="window.location.href='search.html'">搜索</button></div></div>

               <div class="nav_lgri"><a href="#">我的书架(收藏夹)</a>&nbsp;&nbsp;<a href="#">小说排行</a>&nbsp;&nbsp;<a href="#">登陆</a>/<a href="#">退出</a></div>
        </div>
    </div>		
</div>

<div class="logo clearfix">
	 <img src="../style/images/logo.png" class="fl"> <span>Welcome. Browse the jQuery Mobile components and learn how to make rich, accessible, touch-friendly websites and apps.A Touch-Optimized Web Framework for Smartphones & Tablets</span>
</div>


<div class="hce_adv"><img src="../style/images/adv.jpg"></div>     

<div class="cont_bd">
	
    <div data-role="header" data-theme="d"> 
	 <h1>小说书名</h1> 
	</div> 
    
    <div class="ui-body ui-body-d">
        <div class="introd">
              <div class="pic"><img src="http://image.cmfu.com/books/2162573/2162573.jpg"></div>
              <ul>
                <li>标题：<em>双魂召唤师</em>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;作者：云天空&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;上传网友：空洞</li>
                <li>最新章节：【锦衣杀明:杀尽阻碍大明发展之人！】&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;更新时间：2011-12-26 12:09</li>
                <li><em>小说简介：</em>
穿越到异界的陆易，发现自己拥有两个灵魂，可以凝聚两个灵魂之球，封印两只召唤兽，精神力也远比常人高出许多，可是正因为这特殊的状态，他的修炼速度非常慢。
    恩，看书名和简介就知道了，这是一本轻松快乐的小说，试着看看吧，味道也许正是你喜欢的……</li>
                <li><a href="#" data-role="button" data-inline="true">收藏</a><a href="#" data-role="button" data-inline="true">放到书架</a><a href="#" data-role="button" data-inline="true">临时书架</a><a href="#" data-role="button" data-inline="true">查看作者</a><a href="#" data-role="button" data-inline="true">作者其他作品</a>
                <a href="#" data-role="button" data-inline="true">查看目录</a><a href="#" data-role="button" data-inline="true">查看评论</a><a href="#" data-role="button" data-inline="true">推荐这本小说</a><a href="#" data-role="button" data-inline="true">分享到微博</a><a href="#" data-role="button" data-inline="true">下载小说</a><a href="#" data-role="button" data-inline="true">>>在线看小说 </a></li>
                <li class="pages_sy">
                    <dl>
                        <dt>
                            <dd><a href="#"><<</a></dd>
                            <dd>第 2 页</dd>
                            <dd><a href="#">>></a></dd>
                            <dd style="width:12%;">跳到 <input type="text" class="txt1" data-theme="f"> 页</dd>
                            <dd><button type="submit" data-theme="b" class="ui-btn-hidden" aria-disabled="false">跳转</button></dd>
                            <dd>共XX本/YY页</dd>
                        </dt>
                    </dl> 
                </li>
                <li><a href="#">回到上一页</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">回到排行榜</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">回到分类首页</a></li>
             </ul>
        </div>
    </div>
    
    <ul data-role="listview" data-inset="true" class="mt"> 
        <li> 
            <h3>小说分类</h3> 
            <p><span class="sub_n"><b>按篇幅分类：</b><a href="#">杂文/短篇</a> <a href="#">中篇</a> <a href="#">长篇</a>&nbsp;&nbsp;&nbsp;&nbsp;
      <b>长篇内容分类：</b><a href="#">玄幻</a> <a href="#">武侠</a> <a href="#">都市</a> <a href="#">网游</a> <a href="#">纪实</a> <a href="#">历史军事</a> <a href="#">科幻</a>&nbsp;&nbsp;&nbsp;&nbsp;
      <b>协作状态分类：</b><a href="#">完本</a> <a href="#">连载</a> <a href="#">太监</a></span></p> 
        </li>
        
        <li> 
            <h3>友情链接</h3> 
            <p>CMS4G</p> 
        </li>  
        <li> 
            <h3>版权声明</h3> 
            <p>版权声明版权声明版权声明版权声明版权声明</p> 
        </li> 
    </ul>
</div>
    <!--Footer-->
    <div data-role="footer" class="footer-docs ui-footer ui-bar-a ui-footer-fixed fade ui-fixed-overlay" data-theme="a" data-position="fixed" role="contentinfo">
        <h1 class="ui-title" tabindex="0" role="heading" aria-level="1"><font><font>Copyright©2011-2014 手机版 版权所有</font></font></h1>
    </div>
</body>
</html>
