<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf8">
<title><{$title}></title>
<link rel="stylesheet" type="text/css" href="skin/css/base.css">
<script language="javascript">
function viewArc(aid){
	if(aid==0) aid = getOneItem();
	window.open("index.php?c=admin_category&m=view");
}
function editArc(aid){
	if(aid==0) aid = getOneItem();
	location="archives.asp?aid="+aid+"&action=editArchives";
}
function updateArc(aid){
	var qstr=getCheckboxItem();
	if(aid==0) aid = getOneItem();
	location="archives.asp?aid="+aid+"&action=makeArchives&qstr="+qstr+"";
}
function checkArc(aid){
	var qstr=getCheckboxItem();
	if(aid==0) aid = getOneItem();
	location="archives.asp?aid="+aid+"&action=checkArchives&qstr="+qstr+"";
}
function moveArc(aid){
	var qstr=getCheckboxItem();
	if(aid==0) aid = getOneItem();
	location="archives.asp?aid="+aid+"&action=moveArchives&qstr="+qstr+"";
}
function adArc(aid){
	var qstr=getCheckboxItem();
	if(aid==0) aid = getOneItem();
	location="archives.asp?aid="+aid+"&action=commendArchives&qstr="+qstr+"";
}
function delArc(aid){
	if(confirm('是否确定?')){
	}else{
		return false;
	}
	var qstr=getCheckboxItem();
	//if(aid==0) aid = getOneItem();
	location.href="index.php?c=admin_category&m=del&del_ids="+qstr;
}

//获得选中文件的文件名
function getCheckboxItem()
{
	var allSel="";
	if(document.form2.id.value) return document.form2.id.value;
	for(i=0;i<document.form2.id.length;i++)
	{
		if(document.form2.id[i].checked)
		{
			if(allSel=="")
				allSel=document.form2.id[i].value;
			else
				allSel=allSel+"`"+document.form2.id[i].value;
		}
	}
	return allSel;
}

//获得选中其中一个的id
function getOneItem()
{
	var allSel="";
	if(document.form2.id.value) return document.form2.id.value;
	for(i=0;i<document.form2.id.length;i++)
	{
		if(document.form2.id[i].checked)
		{
				allSel = document.form2.id[i].value;
				break;
		}
	}
	return allSel;
}
function selAll()
{
	if(document.form2.id.length==undefined) {
		document.form2.id.checked=true;
	}
	for(i=0;i<document.form2.id.length;i++)
	{
		if(!document.form2.id[i].checked)
		{
			document.form2.id[i].checked=true;
		}
	}
}
function noSelAll()
{
	if(document.form2.id.length==undefined) {
		document.form2.id.checked=false;
	}
	for(i=0;i<document.form2.id.length;i++)
	{
		if(document.form2.id[i].checked)
		{
			document.form2.id[i].checked=false;
		}
	}
}
</script>
</head>
<body leftmargin="8" topmargin="8" background='skin/images/allbg.gif'>

<!--  快速转换位置按钮  -->
<table width="98%" border="0" cellpadding="0" cellspacing="1" bgcolor="#D1DDAA" align="center">
<tr>
 <td height="26" background="skin/images/newlinebg3.gif">
  <table width="98%" border="0" cellspacing="0" cellpadding="0">
  <tr>
  <td align="center">
    <input type='button' class="coolbg np" onClick="location='index.php?c=admin_category&m=add';" value='添加分类' />
 </td>
 </tr>
</table>
</td>
</tr>
</table>
  
<!--  内容列表   -->
<form name="form2">

<table width="98%" border="0" cellpadding="2" cellspacing="1" bgcolor="#D1DDAA" align="center" style="margin-top:8px">
<tr bgcolor="#E7E7E7">
	<td height="24" colspan="10" background="skin/images/tbg.gif">&nbsp;文档列表&nbsp;</td>
</tr>
<{if $list}>
<tr align="center" bgcolor="#FAFAF1" height="22">
	<td width="6%">ID</td>
	<td width="4%">选择</td>
	<td width="28%">分类标题</td>
	<td width="10%">创建时间</td>
	<td width="8%">发布人</td>
	<td width="10%">操作</td>
</tr>
<{foreach from=$list item=item}>
<tr align='center' bgcolor="#FFFFFF" onMouseMove="javascript:this.bgColor='#FCFDEE';" onMouseOut="javascript:this.bgColor='#FFFFFF';" height="22" >
	<td><{$item.id}></td>
	<td><input name="id" type="checkbox" id="" value="<{ $item.id }>" class="np"></td>
	<td align="left"><a href='./index.php?c=admin_category&m=index&fid=<{$item.id}>'><u><{$item.name}></u></a></td>
	<td><{$item.times|date_format:"%Y-%m-%d %H:%M:%S"}></td>
	<td>admin</td>
	<td><a href="index.php?c=admin_category&m=edit&edit_id=<{ $item.id }>">编辑</a> | <a href="javascript:;">预览</a>
		| <a href="index.php?c=admin_scrape&m=init&cat_id=<{ $item.id }>">抓取</a>
	</td>
</tr>
<{/foreach}>
<{/if}>


<tr bgcolor="#FAFAF1">
<td height="28" colspan="10">
	&nbsp;
	<a href="javascript:selAll()" class="coolbg">全选</a>
	<a href="javascript:noSelAll()" class="coolbg">取消</a>
	<a onclick="javascript:;" class="coolbg">&nbsp;移动&nbsp;</a>
	<a onclick="javascript:delArc(0)" class="coolbg">&nbsp;删除&nbsp;</a>
</td>
</tr>
<tr align="right" bgcolor="#EEF4EA">
	<td height="36" colspan="10" align="center"><!--翻页代码 --></td>
</tr>
</table>

</form>

<!--  搜索表单  -->
<form name='form3' action='index.php?c=admin_category&m=index' method='post'>
<input type='hidden' name='dopost' value='' />
<table width='98%'  border='0' cellpadding='1' cellspacing='1' bgcolor='#CBD8AC' align="center" style="margin-top:8px">
  <tr bgcolor='#EEF4EA'>
    <td background='skin/images/wbg.gif' align='center'>
      <table border='0' cellpadding='0' cellspacing='0'>
        <tr>
			<td width='90' align='center'>搜索条件：</td>
			<td width='160'>
			</td>
			<td width='70'>
			  	关键字：
			</td>
			<td width='160'>
			  	<input type='text' name='keyword' value='<{$keyword}>' style='width:150px' />
			</td>
			<td width='110'>
				<input name="imageField" type="image" src="skin/images/frame/search.gif" width="45" height="20" border="0" class="np" />
			</td>
    </tr>
        <tr>
		<td height="36" colspan="7" align="center"><div style="width:360px;margin:0 auto;"><!--翻页代码 --><{$page_str}></div></td>
        <td>
        </td>
        <td>
        </td>
       </tr>
      </table>
    </td>
  </tr>
</table>
</form>
</body>
</html>