<!DOCTYPE html> 
<html> 
<head> 
<meta charset="utf-8"> 
<meta name="viewport" content="width=device-width, initial-scale=1"> 
<title>首页</title>
<link rel="stylesheet"  href="../style/css/jquery.mobile-1.0rc2.min.css" />  
<link rel="stylesheet" href="../style/css/jqm-docs.css"/> 
<link rel="stylesheet" href="../style/css/add.css"/> 
<script src="../style/js/jquery-1.6.4.min.js"></script> 
<script src="../style/js/jquery.mobile.themeswitcher.js"></script> 
<script src="../style/js/jqm-docs.js"></script> 
<script src="../style/js/jquery.mobile-1.0rc2.min.js"></script> 
</head> 
<body>
<!--Navigation-->
<!--Submenu-->
<div data-role="header" data-position="fixed" class="ui-header ui-header-fixed fade ui-fixed-overlay">
	 <div data-role="navbar"> 
          <ul> 
             <li><a href="index.html" data-icon="grid" class="ui-btn-active ">武侠</a></li> 
             <li><a href="index.html" data-icon="star">言情</a></li> 
             <li><a href="index.html" data-icon="gear">科幻</a></li> 
             <li><a href="index.html" data-icon="plus">文学</a></li> 
             <li><a href="index.html" data-icon="info">漫画</a></li> 
         </ul> 
	 </div>		
</div>

    <!--Content-->	
	<div class="hce_adv"><img src="../style/images/adv.jpg"></div>
    

			<div class="df">	
                <ol data-role="listview"> 
                    <li><a href="content.html">金庸世界里的道士</a></li> 
                    <li><a href="mod.html">舞月原</a></li> 
                    <li><a href="mod.html">穿越古代江湖行</a></li>
                    <li><a href="mod.html">柳放传奇</a></li> 
                    <li><a href="mod.html">战无不胜</a></li> 
                    <li><a href="mod.html">江湖浪客行</a></li>
                    <li><a href="mod.html">不悔江湖憔悴剑</a></li> 
                    <li><a href="mod.html">武者之化神道</a></li> 
                    <li><a href="mod.html">穿越古代江湖行</a></li>
                    <li><a href="mod.html">金庸世界里的道士</a></li> 
                    <li><a href="mod.html">舞月原</a></li> 
                    <li><a href="mod.html">穿越古代江湖行</a></li>
                    <li><a href="mod.html">柳放传奇</a></li> 
                    <li><a href="mod.html">战无不胜</a></li> 
                    <li><a href="mod.html">江湖浪客行</a></li>
                    <li><a href="mod.html">不悔江湖憔悴剑</a></li> 
                    <li><a href="mod.html">武者之化神道</a></li> 
                    <li><a href="mod.html">穿越古代江湖行</a></li>
                    <li><a href="mod.html">武者之化神道</a></li> 
                    <li><a href="mod.html">金庸世界里的道士</a></li> 
                </ol> 
			</div>
    <!--Footer-->
        <div data-role="footer" data-id="foo1" data-position="fixed"> 
            <div data-role="navbar"> 
                <ul> 
                    <li><a href="about_us.html" class="ui-state-persist">关于我们</a></li> 
                    <li><a href="contact_us.html">联系我们</a></li> 
                    <li><a href="proposal.html">提交建议</a></li> 
                </ul> 
            </div><!-- /navbar --> 
	   </div><!-- /footer --> 
	
</body>
</html>
