@charset "utf-8";
/* CSS Document */
/*滚动条*/
.dumascroll {
	width:754px;
	height:768px;
	margin:0 auto;
	background: url(../img/datarole_scrool_bg.png) no-repeat;
	overflow:hidden;
}  /*只需对需要渲染滚动条的div设置该class即可*/
.dumascroll_area {
	height:100%;
	overflow:hidden;
}
.dumascroll_bar, .dumascroll_handle, .dumascroll_handle_a, .dumascroll_arrow_up, .dumascroll_arrow_up_a, .dumascroll_arrow_down, .dumascroll_arrow_down_a {
	background-image:url(http://pic1.taogogo.info/pictures/month_1007/201007091829076719.gif);
}
.dumascroll_bar {
	position:absolute;
	top:0;
	right:0;
	z-index:9;
	width:25px;
	height:100%;
	cursor:default;
	-moz-user-select:none;
	-khtml-user-select:none;
	user-select:none;
	background-repeat:repeat-y;
	background-position:-42px 0;
	float:left;
}
.dumascroll_arrow_up, .dumascroll_arrow_up_a, .dumascroll_handle, .dumascroll_handle_a, .dumascroll_arrow_down, .dumascroll_arrow_down_a {
	position:absolute;
	left:0;
}
.dumascroll_arrow_up, .dumascroll_arrow_up_a, .dumascroll_arrow_down, .dumascroll_arrow_down_a {
	width:100%;
	height:14px;
	color:#fff;
	text-align:center;
}
.dumascroll_arrow_up, .dumascroll_arrow_up_a {
	top:0;
}
.dumascroll_arrow_down, .dumascroll_arrow_down_a {
	bottom:0;
}
.dumascroll_handle, .dumascroll_handle_a {
	width:100%;
	background-repeat:repeat-y;
}
.dumascroll_arrow_up {
	background-position:0 0;
}
.dumascroll_arrow_up_a {
	background-position:-14px 0;
}
.dumascroll_handle {
	background-position:-28px 0;
}
.dumascroll_handle_a {
	background-position:-56px 0;
}
.dumascroll_arrow_down {
	background-position:-70px 0;
}
.dumascroll_arrow_down_a {
	background-position:-84px 0;
}
.datarole_alert_sure_btn {
	width:480px;
	height:25px;
	padding:30px 0px 30px 0px;
}
.datarole_alert_sure_btn_link1 {
	width:49px;
	height:25px;
	display:block;
	font-size:12px;
	float:right;
	line-height:25px;
	text-align:center;
	color:#595A5C;
	background:url(../img/datarole_sure_btn.png) no-repeat;
}
.datarole_alert_sure_btn_link1:hover {
	background: url(../img/function_role_delect_hover_bg.png) no-repeat;
}
