<{include file='./header.html'}>
<div class="cont_bd">

<ul class="custom2_ui">
    <li class="ui-bar-d">排行榜&nbsp;&nbsp;&nbsp;&nbsp;当前分类：XXXXX</li>
    <li><a href="index.html">周阅读榜</a> <a href="index.html">月阅读榜</a> <a href="index.html">总阅读榜</a></li>
    <li><a href="index.html">周评论榜</a> <a href="index.html">月评论榜</a> <a href="index.html">总评论榜</a></li>
    <li><a href="index.html">周推荐榜</a> <a href="index.html">月推荐榜</a> <a href="index.html">总推荐榜</a></li>
    <li><a href="index.html">周收藏榜</a> <a href="index.html">月收藏榜</a> <a href="index.html">总收藏榜</a></li>
</ul>
		
</div>

<div class="hce_adv"><img src="./style/images/adv.jpg"></div>    

<div class="cont_bd">
    <ul data-role="listview" data-inset="true" class="top_pop"> 
        <li data-role="list-divider">周阅读榜</li> 
        <li><a href="index.html"><span class="ftw">云城小说《百年诅咒》</span> <span class="ftw2">作者：郭敬明&nbsp;阅读数：2323&nbsp;排名：1</span></a></li> 
        <li><a href="index.html"><span class="ftw">云城小说《百年诅咒》</span> <span class="ftw2">作者：郭敬明&nbsp;阅读数：2323&nbsp;排名：1</span></a></li> 
        <li><a href="index.html"><span class="ftw">云城小说《百年诅咒》</span> <span class="ftw2">作者：郭敬明&nbsp;阅读数：2323&nbsp;排名：1</span></a></li> 
        <li><a href="index.html"><span class="ftw">云城小说《百年诅咒》</span> <span class="ftw2">作者：郭敬明&nbsp;阅读数：2323&nbsp;排名：1</span></a></li> 
        <li><a href="index.html"><span class="ftw">云城小说《百年诅咒》</span> <span class="ftw2">作者：郭敬明&nbsp;阅读数：2323&nbsp;排名：1</span></a></li> 
        <li class="custom_ui pages_sy ui-bar-d">
        	<dl>
            	<dt>
                	<dd><a href="#"><<</a></dd>
                    <dd>第 2 页</dd>
                    <dd><a href="#">>></a></dd>
                    <dd class="page_tzw">跳到 <input type="text" class="txt1" data-theme="f"> 页</dd>
                    <dd><button type="submit" data-theme="b" class="ui-btn-hidden" aria-disabled="false">跳转</button></dd>
                    <dd>共XX本/YY页</dd>
                </dt>
            </dl> 
        </li>
    </ul>

    <ul data-role="listview" data-inset="true"> 
			<{include file='./cat_munu.html'}>
			<{include file='./ad.html'}>
			<{include file='./copr.html'}>
    </ul>
</div>
    <!--Footer-->
    <div data-role="footer" class="footer-docs ui-footer ui-bar-a ui-footer-fixed fade ui-fixed-overlay" data-theme="a" data-position="fixed" role="contentinfo">
        <h1 class="ui-title" tabindex="0" role="heading" aria-level="1"><font><font>Copyright©2011-2014 手机版 版权所有</font></font></h1>
    </div>
</body>
</html>
