<!DOCTYPE html> 
<html> 
<head> 
<meta charset="utf-8"> 
<meta name="viewport" content="width=device-width, initial-scale=1"> 
<title>首页</title>
<link rel="stylesheet"  href="../style/css/jquery.mobile-1.0rc2.min.css" />  
<link rel="stylesheet" href="../style/css/jqm-docs.css"/> 
<link rel="stylesheet" href="../style/css/add.css"/> 
<script src="../style/js/jquery-1.6.4.min.js"></script> 
<script src="../style/js/jquery.mobile.themeswitcher.js"></script> 
<script src="../style/js/jqm-docs.js"></script> 
<script src="../style/js/jquery.mobile-1.0rc2.min.js"></script> 
</head> 
<body>
<!--Navigation-->
     <!--Search-->
       


<div data-role="header" data-position="fixed" data-theme="f" class="ui-header ui-bar-f ui-header-fixed fade ui-fixed-overlay" role="banner">

<div data-role="footer" data-theme="a" class="ui-bar ui-grid-c ui-footer ui-bar-a" role="contentinfo" style="background:transparent;border:none;">
          <div class="ui-block-a"><h3>个人信息：张三 会员：41级 </h3></div>
          <div class="ui-block-b"><label for="value" style="margin:.3em 0 0 0 ; text-align:right;" class="ui-input-text">搜索：</label> </div>
          <div class="ui-block-c">
   
    <input type="text" data-type="search" name="search2" id="search" value="" class="ui-input-text ui-body-c">
</div>	 
          <div class="ui-block-d"><div style="margin:2px 0 0 10px;"><!--<div data-theme="b" class="ui-btn ui-btn-up-b ui-btn-corner-all ui-shadow" aria-disabled="false"><span class="ui-btn-inner ui-btn-corner-all" aria-hidden="true"><span class="ui-btn-text">Update</span></span>--><button type="submit" data-theme="b" class="ui-btn-hidden" aria-disabled="false" onclick="window.location.href='search.html'">搜索</button></div></div>
    </div>
		
</div>

<!--Submenu-->
    <div data-role="navbar" data-grid="d" class="ui-navbar ui-navbar-noicons" role="navigation">
         <ul class="ui-grid-d f14">
            <li class="ui-block-a"><a href="#" class="ui-btn-active ui-btn ui-btn-up-c" data-theme="c"><span class="ui-btn-inner" aria-hidden="true"><span class="ui-btn-text"><font><font>首页</font></font></span></span></a></li>
            <li class="ui-block-b"><a href="#" data-theme="c" class="ui-btn ui-btn-up-c"><span class="ui-btn-inner" aria-hidden="true"><span class="ui-btn-text"><font><font>娱乐新闻</font></font></span></span></a></li>
            <li class="ui-block-c"><a href="#" data-theme="c" class="ui-btn ui-btn-up-c"><span class="ui-btn-inner" aria-hidden="true"><span class="ui-btn-text"><font><font>军事新闻</font></font></span></span></a></li>
            <li class="ui-block-d"><a href="#" data-theme="c" class="ui-btn ui-btn-up-c"><span class="ui-btn-inner" aria-hidden="true"><span class="ui-btn-text"><font><font>女性新闻</font></font></span></span></a></li>
            <li class="ui-block-e"><a href="#" data-theme="c" class="ui-btn ui-btn-up-c"><span class="ui-btn-inner" aria-hidden="true"><span class="ui-btn-text"><font><font>推荐</font></font></span></span></a></li>
        </ul>
    </div>
	
    <!--Content-->	
	<div class="hce_adv"><img src="../style/images/adv.jpg"></div>
    
<ul data-role="listview" class="ui-listview">
			<li data-role="list-divider" role="heading" class="ui-li ui-li-divider ui-btn ui-bar-b ui-li-has-count ui-btn-up-undefined">头条<span class="ui-li-count ui-btn-up-c ui-btn-corner-all"><a href="#">更多>></a></span></li>
			<li data-theme="c" class="ui-btn ui-btn-icon-right ui-li-has-arrow ui-li ui-btn-up-c"><div class="ui-btn-inner ui-li bg_border_none" aria-hidden="true"><div class="ui-btn-text"><a href="content.html" class="ui-link-inherit">
				<img src="../style/images/slide2.jpg" class="ui-li-thumb">
				<h3 class="ui-li-heading"><p class="add_time"><strong>2011-10-21 9:18</strong></p><font><font class="">沃尔夫冈Amadeus的凤凰</font></font></h3>
				<p class="ui-li-desc"><font><font>凤凰凤凰凤凰凤凰凤凰凤凰凤凰凤凰凤凰凤凰凤凰凤凰凤凰凤凰凤凰凤凰凤凰凤凰凤凰凤凰凤凰凤凰凤凰凤凰凤凰凤凰In preparation for the upcoming conference in Boston, we need to start gathering a list of sponsors and speakers.凤凰</font></font></p>
				</a></div><span class="ui-icon ui-icon-arrow-r ui-icon-shadow"></span></div></li>
			
            <li data-theme="c" class="ui-btn ui-btn-icon-right ui-li-has-arrow ui-li ui-btn-up-c"><div class="ui-btn-inner ui-li bg_border_none" aria-hidden="true"><div class="ui-btn-text"><a href="content.html" class="ui-link-inherit">
				<img src="../style/images/slide2.jpg" class="ui-li-thumb">
				<h3 class="ui-li-heading"><p class="add_time"><strong>2011-10-21 9:18</strong></p><font><font class="">沃尔夫冈Amadeus的凤凰</font></font></h3>
				<p class="ui-li-desc"><font><font>凤凰凤凰凤凰凤凰凤凰凤凰凤凰凤凰凤凰凤凰凤凰凤凰凤凰凤凰凤凰凤凰凤凰凤凰凤凰凤凰凤凰凤凰凤凰凤凰凤凰凤凰In preparation for the upcoming conference in Boston, we need to start gathering a list of sponsors and speakers.凤凰</font></font></p>
				</a></div><span class="ui-icon ui-icon-arrow-r ui-icon-shadow"></span></div></li>
                
			<li data-role="list-divider" role="heading" class="ui-li ui-li-divider ui-btn ui-bar-b ui-li-has-count ui-btn-up-undefined">最新<span class="ui-li-count ui-btn-up-c ui-btn-corner-all"><a href="#">更多>></a></span></li>
			<li data-theme="c" class="ui-btn ui-btn-icon-right ui-li-has-arrow ui-li ui-btn-up-c"><div class="ui-btn-inner ui-li bg_border_none" aria-hidden="true"><div class="ui-btn-text"><a href="content.html" class="ui-link-inherit">
				<img src="../style/images/slide2.jpg" class="ui-li-thumb">
				<h3 class="ui-li-heading"><p class="add_time"><strong>2011-10-21 9:18</strong></p><font><font class="">沃尔夫冈Amadeus的凤凰</font></font></h3>
				<p class="ui-li-desc"><font><font>凤凰凤凰凤凰凤凰凤凰凤凰凤凰凤凰凤凰凤凰凤凰凤凰凤凰凤凰凤凰凤凰凤凰凤凰凤凰凤凰凤凰凤凰凤凰凤凰凤凰凤凰In preparation for the upcoming conference in Boston, we need to start gathering a list of sponsors and speakers.凤凰</font></font></p>
				</a></div><span class="ui-icon ui-icon-arrow-r ui-icon-shadow"></span></div></li>
			
            <li data-role="list-divider" role="heading" class="ui-li ui-li-divider ui-btn ui-bar-b ui-li-has-count ui-btn-up-undefined">推荐<span class="ui-li-count ui-btn-up-c ui-btn-corner-all"><a href="#">更多>></a></span></li>
            <li data-theme="c" class="ui-btn ui-btn-icon-right ui-li-has-arrow ui-li ui-btn-up-c"><div class="ui-btn-inner ui-li bg_border_none" aria-hidden="true"><div class="ui-btn-text"><a href="content.html" class="ui-link-inherit">
            <img src="../style/images/slide2.jpg" class="ui-li-thumb">
            <h3 class="ui-li-heading"><p class="add_time"><strong>2011-10-21 9:18</strong></p><font><font class="">沃尔夫冈Amadeus的凤凰</font></font></h3>
            <p class="ui-li-desc"><font><font>凤凰凤凰凤凰凤凰凤凰凤凰凤凰凤凰凤凰凤凰凤凰凤凰凤凰凤凰凤凰凤凰凤凰凤凰凤凰凤凰凤凰凤凰凤凰凤凰凤凰凤凰In preparation for the upcoming conference in Boston, we need to start gathering a list of sponsors and speakers.凤凰</font></font></p>
            </a></div><span class="ui-icon ui-icon-arrow-r ui-icon-shadow"></span></div></li>
            <li data-theme="c" class="ui-btn ui-btn-icon-right ui-li-has-arrow ui-li ui-btn-up-c"><div class="ui-btn-inner ui-li bg_border_none" aria-hidden="true"><div class="ui-btn-text"><a href="content.html" class="ui-link-inherit">
            <img src="../style/images/slide2.jpg" class="ui-li-thumb">
            <h3 class="ui-li-heading"><p class="add_time"><strong>2011-10-21 9:18</strong></p><font><font class="">沃尔夫冈Amadeus的凤凰</font></font></h3>
            <p class="ui-li-desc"><font><font>凤凰凤凰凤凰凤凰凤凰凤凰凤凰凤凰凤凰凤凰凤凰凤凰凤凰凤凰凤凰凤凰凤凰凤凰凤凰凤凰凤凰凤凰凤凰凤凰凤凰凤凰In preparation for the upcoming conference in Boston, we need to start gathering a list of sponsors and speakers.凤凰</font></font></p>
            </a></div><span class="ui-icon ui-icon-arrow-r ui-icon-shadow"></span></div></li>
            <li data-theme="c" class="ui-btn ui-btn-icon-right ui-li-has-arrow ui-li ui-btn-up-c"><div class="ui-btn-inner ui-li bg_border_none" aria-hidden="true"><div class="ui-btn-text"><a href="content.html" class="ui-link-inherit">
            <img src="../style/images/slide2.jpg" class="ui-li-thumb">
            <h3 class="ui-li-heading"><p class="add_time"><strong>2011-10-21 9:18</strong></p><font><font class="">沃尔夫冈Amadeus的凤凰</font></font></h3>
            <p class="ui-li-desc"><font><font>凤凰凤凰凤凰凤凰凤凰凤凰凤凰凤凰凤凰凤凰凤凰凤凰凤凰凤凰凤凰凤凰凤凰凤凰凤凰凤凰凤凰凤凰凤凰凤凰凤凰凤凰In preparation for the upcoming conference in Boston, we need to start gathering a list of sponsors and speakers.凤凰</font></font></p>
            </a></div><span class="ui-icon ui-icon-arrow-r ui-icon-shadow"></span></div></li>
				
                
		</ul>
	


    <!--Footer-->
    <div data-role="footer" class="footer-docs ui-footer ui-bar-a ui-footer-fixed fade ui-fixed-overlay" data-theme="a" data-position="fixed" role="contentinfo">
        <h1 class="ui-title" tabindex="0" role="heading" aria-level="1"><font><font>Copyright©2011-2014 手机版 版权所有</font></font></h1>
    </div>
</body>
</html>
