<!DOCTYPE html> 
<html> 
<head> 
<meta charset="utf-8"> 
<meta name="viewport" content="width=device-width, initial-scale=1"> 
<title>关于我们</title>
<link rel="stylesheet"  href="./style/css/jquery.mobile-1.0rc2.min.css" />  
<link rel="stylesheet" href="./style/css/jqm-docs.css"/> 
<link rel="stylesheet" href="./style/css/add.css"/> 
<script src="./style/js/jquery-1.6.4.min.js"></script> 
<script src="./style/js/jquery.mobile.themeswitcher.js"></script> 
<script src="./style/js/jqm-docs.js"></script> 
<script src="./style/js/jquery.mobile-1.0rc2.min.js"></script> 
</head> 
<body>
<!--Navigation-->
<!--Submenu-->
<div data-role="header" data-position="fixed" class="ui-header ui-header-fixed fade ui-fixed-overlay">
	 <div data-role="navbar"> 
      	  <ul> 
             <li><a href="index.html" data-icon="grid" class="ui-btn-active ">武侠</a></li> 
             <li><a href="index.html" data-icon="star">言情</a></li> 
             <li><a href="index.html" data-icon="gear">科幻</a></li> 
             <li><a href="index.html" data-icon="plus">文学</a></li> 
             <li><a href="index.html" data-icon="info">漫画</a></li> 
         </ul> 
	</div>    
		
</div>

<!--Content-->	

<div class="bd_con">
     <div class="about_us">
     	 <p> 轻量的大小和速度最小的图像的依赖关系。
			模块化架构进行了优化，只为特定应用所需的功能，用于创建自定义构建
			HTML5的标记驱动的配置的快速发展和所需最低脚本的网页和行为 。
			渐进增强的方式带来的核心内容和功能的所有手机，平板电脑和台式机平台和丰富，新的移动平台上安装的应用程序的经验。
			响应的设计技术和工具，允许相同的基础代码库，从智能手机到桌面大小屏幕自动缩放
			强大的Ajax驱动的导航系统，使动画页面转换，同时保持按钮，书签和干净的URL虽然 pushState。
			无障碍功能，如WAI - ARIA也包括在内，以确保页面的屏幕阅读器（例如在iOS配音）和其他辅助技术工作。
			触摸和鼠标事件支持精简过程中，支持触摸，鼠标和光标焦点基于用户输入一个简单的API的方法 。
			加强与共同控制的统一的UI部件触摸进行了优化，是平台无关和易于使用的主题化控件的本地控制。
			强大的主题化动缩放
			强大的Ajax驱动的导航系统，使动画页面转换，同时保持按钮，书签和干净的URL虽然 pushState。
			无障碍功能，如WAI - ARIA也包括在内，以确保页面的屏幕阅读器（例如在iOS配音）和其他辅助技术工作。
			触摸和鼠标事件支持精简过程中，支持触摸，鼠标和光标焦点基于用户输入一个简单的API的方法 。
			加强与共同控制的统一的UI部件触摸进行了优化，是平台无关和易于使用的主题化控件的本地控制。
			强大的主题化的框架和ThemeRoller应用程序，使高品牌的经验 ，很容易建立。
        </p>
    </div>
</div> 

<!--Footer-->
<div data-role="footer" data-id="foo1" data-position="fixed"> 
    <div data-role="navbar"> 
        <ul> 
            <li><a href="about_us.html" class="ui-state-persist">关于我们</a></li> 
            <li><a href="contact_us.html">联系我们</a></li> 
            <li><a href="proposal.html">提交建议</a></li> 
        </ul> 
    </div>
</div>
	
</body>
</html>
