<!DOCTYPE html> 
<html> 
<head> 
<meta charset="utf-8"> 
<meta name="viewport" content="width=device-width, initial-scale=1"> 
<title>联系我们</title>
<link rel="stylesheet"  href="./style/css/jquery.mobile-1.0rc2.min.css" />  
<link rel="stylesheet" href="./style/css/jqm-docs.css"/> 
<link rel="stylesheet" href="./style/css/add.css"/> 
<script src="./style/js/jquery-1.6.4.min.js"></script> 
<script src="./style/js/jquery.mobile.themeswitcher.js"></script> 
<script src="./style/js/jqm-docs.js"></script> 
<script src="./style/js/jquery.mobile-1.0rc2.min.js"></script> 
</head> 
<body>
<!--Navigation-->
<!--Submenu-->
<div data-role="header" data-position="fixed" class="ui-header ui-header-fixed fade ui-fixed-overlay">
	 <div data-role="navbar"> 
      	  <ul> 
             <li><a href="index.html" data-icon="grid" class="ui-btn-active ">武侠</a></li> 
             <li><a href="index.html" data-icon="star">言情</a></li> 
             <li><a href="index.html" data-icon="gear">科幻</a></li> 
             <li><a href="index.html" data-icon="plus">文学</a></li> 
             <li><a href="index.html" data-icon="info">漫画</a></li> 
         </ul>
	</div>    
		
</div>

<!--Content-->	

<div class="bd_con">
     <div class="about_us">
     	  <ul>
          	 <li>地址：地址地址地址地址地址地址地址地址<br><img src="./style/images/map.jpg"></li>
             <li>邮编：200001</li>
             <li>电话：021-88998899</li>
             <li>传真：88998899</li>
          	 <li>邮箱：<a href="mailto:cms4g@sina.com">cms4g@sina.com </a></li>
          </ul>
     </div>
</div> 

<!--Footer-->
<div data-role="footer" data-id="foo1" data-position="fixed"> 
    <div data-role="navbar"> 
        <ul> 
            <li><a href="about_us.html" class="ui-state-persist">关于我们</a></li> 
            <li><a href="contact_us.html">联系我们</a></li> 
            <li><a href="proposal.html">提交建议</a></li> 
        </ul> 
    </div>
</div>
	
</body>
</html>
