<!DOCTYPE html> 
<html> 
<head> 
<meta charset="utf-8"> 
<meta name="viewport" content="width=device-width, initial-scale=1"> 
<title>联系我们</title>
<link rel="stylesheet"  href="./style/css/jquery.mobile-1.0rc2.min.css" />  
<link rel="stylesheet" href="./style/css/jqm-docs.css"/> 
<link rel="stylesheet" href="./style/css/add.css"/> 
<script src="./style/js/jquery-1.6.4.min.js"></script> 
<script src="./style/js/jquery.mobile.themeswitcher.js"></script> 
<script src="./style/js/jqm-docs.js"></script> 
<script src="./style/js/jquery.mobile-1.0rc2.min.js"></script> 
</head> 
<body>
<!--Navigation-->
<!--Submenu-->
<div data-role="header" data-position="fixed" class="ui-header ui-header-fixed fade ui-fixed-overlay">
	 <div data-role="navbar"> 
      	  <ul> 
             <li><a href="index.html" data-icon="grid" class="ui-btn-active ">武侠</a></li> 
             <li><a href="index.html" data-icon="star">言情</a></li> 
             <li><a href="index.html" data-icon="gear">科幻</a></li> 
             <li><a href="index.html" data-icon="plus">文学</a></li> 
             <li><a href="index.html" data-icon="info">漫画</a></li> 
         </ul>
	</div>    
		
</div>

<!--Content-->	

<div class="bd_con">
     <div class="about_us">
     	  
          <div class="proposal">
          	  <h2>提交建议</h2>
              <ul>
              	  <li><label for="username" class="ui-input-text fl">内&nbsp;&nbsp;&nbsp;&nbsp;容：</label>
		<textarea class="ui-input-text ui-body-c ui-corner-all ui-shadow-inset textarea"></textarea></li>
        		  <li class="pr_pl">
					  <a href="proposal.html" data-role="button" data-theme="b" data-inline="true">确认</a>
                  </li>
              </ul>
          </div>	
          
     </div>
</div> 

<!--Footer-->
<div data-role="footer" data-id="foo1" data-position="fixed"> 
    <div data-role="navbar"> 
        <ul> 
            <li><a href="about_us.html" class="ui-state-persist">关于我们</a></li> 
            <li><a href="contact_us.html">联系我们</a></li> 
            <li><a href="proposal.html">提交建议</a></li> 
        </ul> 
    </div>
</div>
	
</body>
</html>
